/****************
    GENERAL
****************/

.section {
    padding-bottom: 4rem;
}

.top {
    margin-top: 2rem;
}

.btn {
    border: 1px soli rgb(30, 136, 229);
    border-radius: 18px;
    margin-top:1px;
    padding: 0 25px;
    font-weight: 700;
}
/****************
   NAV SECTION
****************/
#mob-menu .btn {
    display: inline-block;
}
.nav-list {
    font-weight: 700;
}
.sidenav a {
    font-weight: 700 !important;
}
/****************
   HERO SECTION
****************/
.main{
    background:url("https://cdn2.expertreviews.co.uk/sites/expertreviews/files/2020/11/microsoft_surface_laptop_go_review_2_0.jpg") ;
    background-size: cover;
    background-position: center;
    height: 95vh;  
}


 .title {
    font-size: 2.92rem;
    line-height: 110%;
    font-weight: 400;
    margin-bottom: 7rem;
    margin-left:4.5rem;
    padding: 0rem;
    
}

.title b {
    margin-left: 0px;
}


@media screen and (max-width: 600px){
    .main {
        height: 75vh;
    }
    
    .title {
        margin-left: 1rem;
    }
}
/****************
    FEATURES
****************/
section.features {
    background-color: #f2f2f2;
    padding-top: 2rem;
}

.feature-img {
    border-radius: 30px;

}

/****************
    SLIDER
****************/
.image1 {
    background-color: rgb(163, 163, 163);
    background-blend-mode: multiply;
}
.review1 {
    max-width: 6rem;
    margin-right: 1rem;
}
.review2 {
    max-width: 7rem;
    margin-right: 1rem;
}
.review3 {
    max-width: 6rem;
}

/****************
    SPEC TABLE
****************/

thead tr th{
    background-color: #f2f2f2;
}

.sb-wrapper1 .sb-pic {
    padding-top: 24px;
}


/****************
    MOB-SPEC TABLE
****************/
.mob-table {
    position: relative;
    margin-top: 2vw;
    
    margin-bottom: 5vw;
}
.mob-head {
    position: sticky;
    top:50px;
    
}

.tab1{
    margin-bottom: 0;
}
.tab2 .fake-header th{
    height: 0 !important;
    background-color: white !important;
    color:white;
}
.tab2 .tr {
    border-bottom-width:0;
}
.pad-row{
    padding-right: 54px;
}
.buy-row {
    position:relative;
    top: 0;
}
/****************
     DIVIDER
****************/

.img-divider {
    background-image: url("./img/avi-richards-Z3ownETsdNQ-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
     
    
}


/****************
   ACCESSORIES
****************/

.accessories {
    margin-bottom: 5vw;

    margin-top: 4vw; 
}

.card-title {
    font-weight: 400 !important;
}

/****************
      FOOTER
****************/

footer {
    background-color: #f2f2f2 !important;
}

.social-icon {
    display: inline;
    margin-right: 1rem;
}